@model IEnumerable<QueueManagement.Application.DTOs.SubCategory.SubCategoryDto>

<h2>Sub Categories</h2>

<a asp-action="Create" class="btn btn-primary mb-3">
    Create SubCategory
</a>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Prefix</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Name</td>
                <td>@item.Prefix</td>
                <td>@(item.IsActive ? "Active" : "Inactive")</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>